@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.stack {
  @apply flex;
  @apply flex-col;
}

.hstack {
  @apply flex;
  @apply flex-row;
}

.landing-tile {
  @apply flex;
  @apply flex-col;
  @apply h-screen;
  @apply items-center;
  @apply justify-center;
}

.h-10vh {
  height: 10vh;
}
.h-15vh {
  height: 15vh;
}
.h-85vh {
  height: 85vh;
}
.h-90vh {
  height: 90vh;
}

.animate-type {
  animation: animation-typing .5s alternate infinite;
}

@keyframes animation-typing {
  from { box-shadow: inset -2px 0px 0px black; }
  to { box-shadow: inset -2px 0px 0px transparent; }
}
